
<div class="flex items-center gap-x-4">
    <img class="size-14 rounded-full" src="src/assets/avatar.png" alt="">
    <div>
        
        <h2 class="text-xl sm:text-3xl   text-smoke-200 ">Erick Córdova V.</h2>

        <p class="text-sm text-cali-300 ">Guayaquil - Guayas - Ecuador</p>
    </div>
</div>