<div class="flex items-center gap-x-4">
  <img class="size-14 rounded-full" src="/avatar.png" alt="" />
  <div>
    <h2 class="text-3xl sm:text-5xl text-smoke-200">
      Hello, I'm Erick Córdova.
    </h2>
    <p class="text-sm text-cali-100 tracking-widest">
      Design and construction of robust and scalable software.
    </p>
  </div>
</div>
