<a
  href={Astro.props.link}
  class="flex items-center gap-1.5 text-sm xl:px-2.5 xl:py-0.5  rounded-md border border-cali-400 px-1.5 py-0.5"
  target="_blank">
  <Astro.props.badge/>
  <label class="cursor-pointer ">{Astro.props.name}</label>
  </a>


