---
import LinkIcon from "../icons/LinkIcon.astro";

const { slug, data } = Astro.props;
---

<a href={`/projects/${slug}`} class="flex hover:scale-x-95 duration-300 w-full">
  <div
    class="z-[2] flex justify-center items-center h-auto relative border-x-2 border-cali-900 box-content rounded"
  >
    <div class="absolute size-4 bg-smoke-200 rounded-full"></div>
    <div class="absolute size-2 bg-cali-900 rounded-full"></div>
  </div>
  <div
    class="relative py-5 px-4 bg-neutral-900 rounded w-full box-content border-r-2 border-neutral-800 duration-300 hover:bg-neutral-800"
  >
    <div class="flex gap-2 items-center mb-1">
      <h1 class="text-2xl text-cali-100 font-semibold">{data.title}</h1>
      <LinkIcon />
    </div>
    
    <p class="text-cali-50"><span class="text-cali-300">{data.type}:</span> {data.small_description}</p>
  </div>
</a>
