---

---
<div
  class="flex flex-col mx-4 gap-[0.4rem] items-center justify-center rounded-lg bg-cali-950 hover:border-cali-300 box-border px-3 py-2 hover:scale-90 duration-100"
>
  <img src={Astro.props.icon} class="size-16 object-contain mx-14"/>
  <label class="text-[0.75rem] text-cali-100" >{Astro.props.name}</label>
</div>
