---

---
<div
  class="flex flex-col w-16 lg:w-44 xl:w-auto gap-[0.4rem] items-center justify-center rounded-lg hover:border-cali-300 box-border py-2 hover:scale-105 duration-100"
>
  <img src={`/icons/${Astro.props.icon}`} class="size-12 lg:size-14 xl:size-16 object-contain mx-14"/>
  <label class="text-center text-[0.75rem] text-cali-100 text-transparent size-0 lg:w-full lg:h-4 lg:text-current" >{Astro.props.name}</label>
</div>
