---
import AboutMe from "../components/organisms/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/organisms/Projects.astro";
import Skills from "../components/organisms/Skills.astro";
import Education from "../components/organisms/Education.astro";
---

<Layout>
  <main class="w-full flex flex-col lg:py-20 sm:py-8 py-5 gap-20 scroll-smooth">
    <AboutMe />
    <Projects />
    <Skills />
    <Education/>
  </main>
</Layout>
