
<footer class="flex relative flex-col justify-center items-center gap-2 h-14 py-8 px-24 border-t-[1px] border-cali-900">
    <p>Creado y Diseñado por <span>Erick Cordova</span> </p>
    <p><b>Astro</b> & <b>Tailwind CSS</b></p>
</footer>