
<section id="home" class="py-4 px-[10%] flex flex-col text-cali-50 justify-center items-center gap-4 pt-16 min-h-screen box-border">
    <h1 class="z-20 text-5xl">Bienvenido!</h1>
    <div class="z-10 absolute  size-[10%] bg-cali-500 rounded-[35%] rotate-6 opacity-80 animate-pulse">
    </div>
    <div class="z-10 absolute size-[9%] bg-cali-900 rounded-[30%] -rotate-6 opacity-40 animate-pulse">
    </div>
    <div class="z-10 absolute size-[10%] bg-smoke-200 rounded-[25%] -rotate-5 opacity-30 hover:animate-pulse">
    </div>
</section>