---
const LINKS = Astro.props;
---

<nav id="nav-link" class="flex xl:gap-12 lg:gap-9 gap-6 ">
  <a class="hover:scale-105 duration-75" href={LINKS.about}>About me</a>
  <a class="hover:scale-105 duration-75" href={LINKS.projects}>Projects</a>
  <a class="hover:scale-105 duration-75" href={LINKS.skills}>Skills</a>
  <a class="hover:scale-105 duration-75" href={LINKS.education}>Education</a>
</nav>
