---
import SkillItem from "../items/SkillItem.astro";
import front_end from "../data/front-end.json";
import back_end from "../data/back-end.json";
import tools_data from "../data/tools.json";
import CodeIcon from "../icons/CodeIcon.astro";

const frontEnd = front_end;
const backEnd = back_end;
const tools = tools_data;
---

<section
  id="skills"
  class="px-[10%] relative flex flex-col gap-4 box-border pt-8"
>
<div class="flex items-center gap-2">
  <CodeIcon/>
  <h1 class="text-xl text-cali-100 tracking-widest">SKILLS</h1>
</div>

<p>Languages, frameworks, and tools I use on a daily basis.</p>

<!--  -->
  <div class="relative px-5 w-full whitespace-nowrap rounded-md ">
    <div class="flex flex-row flex-wrap gap-4 justify-center">
      {frontEnd.map((skill) => <SkillItem {...skill} />)}
    </div>
  </div>

<!--  -->
  <div class="relative px-5 w-full whitespace-nowrap rounded-md">
    <div class="flex flex-row flex-wrap gap-4 items-center justify-center">
      {backEnd.map((skill) => <SkillItem {...skill} />)}
    </div>
  </div>

  <!--  -->
  <div class="relative px-5 w-full whitespace-nowrap rounded-md">
    <div class="flex flex-row flex-wrap gap-4 items-center justify-center">
      {tools.map((skill) => <SkillItem {...skill} />)}
    </div>
  </div>
</section>
